{% extends "management/base.html" %} {% load staticfiles %} {% block title %}动漫世界{% endblock %} {% block content %}
<meta charset="utf-8">
<div class="container">
	<br>
	<div class="row-fluid">
		<div class="span10 offsetHalf">

			<i class="icon-screenshot icon-5x" style="color:#ee1111;"></i>
		</div>
	</div>	
	<div class="row-fluid">
		<h1 class="text-center"><strong>欢迎你来到首页！</strong></h1>
		<p class="lead pull-center">&nbsp;&nbsp;&nbsp;&nbsp;这是我学习Django框架以来所做的第一个网站。尽管这是一个很简单的小网站，但是我还是历经了许多困难与挫败，好在网站还算是基本完成了。本网站由Django1.10+Bootstrap3实现。在实现这个网站的过程中我感到获益匪浅，学到了许多Django和前端的知识。这是我除了毕业设计外第一个完成的小作品，尽管可能有很多不足，但是我还是感到很开心，后期有空的话也会多加改进，修复一下现在我还无法处理的小BUG。最后还要感谢段艺同学在GitHub上分享的项目参考，非常有用，多谢！我接下来的目标是继续用Django开发一个属于自己的博客，希望能够早日完成。</p>
		<p class="lead pull-right">作者-李文昊</p>
	</div>
	

	</div>
</div>
{% endblock %}